
{{define "subject"}} Welcome to this app. {{end}}

{{define "plainBody"}}

Hi {{.UserName}},

Thanks for signing up with us. Excited to have you onboard. 

Please click here to activate your account http:localhost:4002/v1/users/activated/{{.activationToken}}

Please note that this is a one-time use token and it will expire in {{.expiryDuration}} days.

For future reference, your user id is {{.UserID}} .

Thanks, 

TaskApp Team.

{{end}}

{{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hi {{.UserName}}, Welcome</title>
  </head>
  <body>
    <table>
      <tr>
        Hi {{.UserName}}
      </tr>
      <tr>
        <p>Thanks for signing up with us. Excited to have you onboard.</p>
      </tr>
      <tr>
        <p>For future reference, your user id is {{.UserID}}.</p>
      </tr>
      <tr>
        <p>
          Please click <code> <a href="http://localhost:4002/v1/users/activated/token={{.activationToken}}">here</a></code> to activate your account.
        </p>
      </tr>
      <tr>
        <p>
          Please note that this is a one-time link and it will expire in {{.expiryDuration}} hours.
        </p>
      </tr>
      <tr>
        <p>Thanks</p>
      </tr>
      <tr>
        <p>The TaskApp Team</p>
      </tr>
    </table>
  </body>
</html>
{{end}}
